h1 { color: #b61a1a;
    font-family: Georgia, serif;

        }
body {
    font-family: Arial, sans-serif;
    color:#b61a1a;
}
footer {
    background-color:#b61a1a;
    color:#b61a1a;
    font-family: Georgia, serif;
    font-size:14px;
    text-align:center;
}



